@use "../abstracts/variables" as *;

.btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:.9rem 1.6rem;

background:$color-primary;

color:white;

border-radius:$radius-md;

font-weight:700;

transition:all .25s ease;

box-shadow:$shadow-sm;

}

.btn:hover{

background:$color-primary-dark;

transform:translateY(-2px);

box-shadow:$shadow-md;

}