@use "../abstracts/variables" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: .9rem 1.5rem;

  border-radius: $radius-md;

  background: $color-primary;
  color: white;

  font-weight: 600;

  transition: .25s ease;
}

.btn:hover {
  background: $color-primary-dark;
}