@use "../abstracts/variables" as *;

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $color-white;
  box-shadow: $shadow-sm;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 84px;
  gap: 2rem;
}

.logo {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 800;
}

.logo span {
  color: $color-primary;
}

.main-nav {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-item a {
  display: block;
  font-weight: 600;
}

.header-cta {
    flex-shrink: 0;
}

.main-nav a{

    position:relative;
    
}
    
.main-nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:$color-primary;

    transition:.25s;

}
    
.main-nav a:hover::after{
    
    width:100%;
    
}