.mt-lg{

    margin-top:4rem;
    
    }
    
    .mb-lg{
    
    margin-bottom:4rem;
    
    }
    
    .text-center{
    
    text-align:center;
    
    }
    
    .flex{
    
    display:flex;
    
    }
    
    .justify-center{
    
    justify-content:center;
    
    }
    
    .align-center{
    
    align-items:center;
    
    }