<header class="site-header">
    <div class="container header-inner">
  
    {{ partial "logo.html" . }}
  
      <nav class="main-nav" aria-label="Primary">
        <ul class="nav-list">
          {{ range site.Data.navigation.main }}
            <li class="nav-item">
              <a href="{{ .url }}">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
  
      <a class="btn header-cta" href="{{ site.Data.navigation.cta.url }}">
        {{ site.Data.navigation.cta.text }}
      </a>
  
    </div>
  </header>